[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
gunicorn = "*"
flask-cors = "*"
flask-pymongo = "*"
dnspython = "*"
pymongo = "*"
flask-session = "*"
redis = "*"
flask-jwt-extended = "*"

[dev-packages]

[requires]
python_version = "3.9"
