/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@font-face {
  font-family: nunito;
  src: url(fonts/Nunito-Light.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: nunito;
  background-image: url("images/backgroundmaybe.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(3px) opacity(0.8);
}

.container {
  width: 100%;
  height: 100vh;
  margin: auto;
  overflow: auto;
  min-height: 300px;
  
  border-radius: 5px;
  position: relative;
}

.content-wrapper{
  font-family: nunito;
}

.loginBox {
  text-align: center;
  position: absolute;
  /* border: 1px solid steelblue; */
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  height: 33rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
}
::placeholder{
  color:rgb(168, 168, 168);
}
.login-container{
  /* margin-top: 15%; */
}
.signup-header{
  margin-bottom: 15%;

}
.signup-header h1{
  margin-top: 12%;
  font-size: 45px;
}
.signup-header h2{
  margin-top: 8px;
  display: inline;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.cred-container{
  margin-top: 4%;
  margin-bottom: 4%;

}
.btn {
  display: inline-block;
  background: #36A7F9;
  color: #fff;
  border: none;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 25px;
  /* font-family: inherit; */
  width: 57%;

}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.link{
  color:#36A7F9;
  text-decoration: underline;
}

.add-form {
  margin-bottom: 40px;
}



.form-control input {
  width: 57%;
  height: 43px;
  /* margin: 5px; */
  margin-top: 17px;
  padding: 3px 7px;
  font-size: 17px;
  background-color: rgb(245, 245, 245);
  border-style:solid;
  border-radius: 10px;
  border-width: 0.5px;
  border-color: rgb(226, 226, 226);
}
.form-control input:focus{
  outline:none;
}

.form-control-check {
  width: 57%;
  height: 3rem;
  margin: auto;
}

.form-control-check label {
  /* flex: 1; */
}

.form-control-check input {
  /* flex: 2; */
  /* vertical-align:middle; */
  /* margin-left: 0; */
  /* height: 15px; */
  /* display: inline-block; */
}

footer {
  margin-top: 30px;
  text-align: center;
}

.add-friends-header{
  /* background-color: red; */
  width:75%;

  margin: auto;
  margin-top: 10%;
  margin-bottom:5%;
}
.add-friends-header h1{
  /* margin-bottom:50%; */

}
.add-friend-form{
   /* width: 57%;
  height: 43px;
  margin: auto; 
  margin-top: 17px;
  padding: 3px 7px;
  font-size: 17px;
  background-color:red;  */

}
.add-friend-form input{
  width: 57%;
  height: 43px;
  /* margin: 5px; */
  margin-bottom: 17px;
  padding: 3px 7px;
  font-size: 17px;
  border-style:none;
  border-bottom: 1px solid rgb(168, 168, 168);

}
.add-friend-form label{
  width: 57%;
  height: 43px;
  /* margin: 5px; */
  margin-bottom: 17px;
  padding: 3px 7px;
  font-size: 17px;
  border-style:none;
}

.add-friend-form input:focus{
  outline:none;
  border-bottom: 1px solid;

}