:root{
  --highlight: rgba(143, 201, 255, 0.38);
  --light-blue: #77CEFF;
  --dark-blue: #0084d0;
  --grey: #9d9d9d;
  --light-grey: rgba(149, 157, 165, 0.35);
  --dark-grey: rgba(149, 157, 165);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  margin: auto;
  overflow: auto;
  min-height: 300px;
  border-radius: 5px;
  position: relative;
}

.logo{
  display: flex;  
  justify-content: center;
  font-weight: 700;   
  margin-top: 1rem;
  text-decoration: none !important;
}

.logo:focus{
  color: var(--dark-blue) !important;
}

/* text stuff */
::placeholder{
  color: var(--grey);
}

.highlight{
  background: linear-gradient(to top, var(--highlight) 60%, transparent 40%);
  height: 1.3rem;
  display: inline-table;
  color: black;
}

.user-text-input{
  width: 100%;
  font-family: 'Inter', sans-serif;
  margin-top: 1rem;
  height: 2rem;
  border: none;
  outline: none;
  border-bottom: 3px solid var(--light-blue);
}

.user-input-form input:focus {
  border: none;
  outline: none;
  border-bottom: 3px solid var(--dark-blue) !important;
}

.main-button {
  display: inline-block;
  background: black;
  color: #fff;
  border: none;
  padding: 0.7rem 0;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  font-weight: 700;
  margin: 2.5rem 0 1rem;
  font-size: 1rem;
}

.secondary-button {
  display: inline-block;
  background: white;
  color: black;
  border: solid 1px;
  padding: 0.7rem 0;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  font-weight: 700;
  font-size: 1rem;
}

.main-button:focus {
  outline: none;
}

.main-button:active {
  transform: scale(0.98);
}

/* box stuff */
.section-box {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  max-height: 35rem;
  box-shadow: var(--light-grey) 0px 8px 24px;
  background-color: white;
}

.header-title{
  font-weight: bold;
  font-size: 25px;
  text-align: left;
  margin-bottom: 1rem;
}

.box-container{
  margin: 4rem 5rem 3rem;
}

.box-content-container{
  margin: 3rem 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* edit friends list */
.friend{
  height: 2rem;
}

.add-new-friend-header{
  text-align: left;
  margin-top: 5rem;
  font-weight: bold;
}

.strike-thru{
  text-decoration: line-through;
}

footer {
  margin-top: 30px;
  text-align: center;
}

.add-friends-header{
  width:75%;
  margin: auto;
  margin-top: 10%;
  margin-bottom:5%;
}


.friends-list-scroll-area{
  text-align: left;
}


/*login/signup*/
.login-paragraph{
  margin-top: 1.5rem;
  font-size: 0.85rem;
  text-align: left;
  color: var(--grey);
}

.or{
  text-align: center;
  justify-content: center;
  display: block;
  color: black;
  font-weight: 700;
  font-size: 0.6rem;
  margin-top: 0.5rem;
  text-transform: uppercase;
}

/*landing page*/
.landing-page-container{
  margin: 7rem 17rem;
  text-align: center;
}

.landing-header{
  font-size: 2.2rem;
  font-weight: 700;
}

.landing-section-header{
  font-size: 1.3rem;
  font-weight: 700;
  padding: 4.5rem 0 2rem;
}

.landing-paragraph{
  color: var(--dark-grey);
  padding: 0 3rem;
}

.tool-image{
  height: 4rem;
  margin: 0 2rem;
}

.landing-buttons-container{
  width: 50%;
  margin: auto;
  padding-top: 4rem;
}

/*main page*/
.force-graph-container canvas {
  height: 80vh !important;
  width: 80vw !important;
  margin: auto;
}

.mainpage-button-container{
  width: 40rem; 
  margin: auto; 
  display: flex;
  gap: 2rem;
}